.column {
  float: left;
  width: 33.33%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
mat-grid-list {
  padding-bottom: 0 !important;
}

.direita{
  position: absolute;
  right: 0;
}

.esquerda{
  position: absolute;
  left: 0;
}

.centro{
  position: absolute;
  left: 30%;
  right: 30%;
}

.center {
  margin-top: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}


