.area-image{
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-color: red;
  border-width: 15px;
}

.column {
  float: left;
  width: 33.33%;
}

h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.question-mark{
  opacity: 30%;
}

.battle-symbol{
  height: auto;
  width: auto;
  font-size: 150px;
}

.battle-text{
  font-size: xx-large;
  color: yellow;
  -webkit-text-stroke: 1px blue;
}

mat-grid-list {
  padding-bottom: 0 !important;
}

.direita{
  position: absolute;
  right: 0;
}

.esquerda{
  position: absolute;
  left: 0;
}

.centro{
  position: absolute;
  left: 30%;
  right: 30%;
}

.center {
  margin-top: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}


